<%= render 'shared/header'%>
<div class="container">
  <div class="row my-page ">
    <div class="col-12 my-page-link"><p>購入履歴</p></div>
    <div class="col-12 my-page-link"><p><%= link_to 'ギャラリー', galleries_path,class:"no-under-line"%></p></div>
    <div class="col-12 my-page-link"><%= link_to edit_user_path(current_user), class:"no-under-line" do %>
      <p><%= current_user.nickname %></p>
    <% end %></div>
    <div class="col-12 my-page-link">
      <%= link_to carts_path,class:"no-under-line" do%>
          <p>カートの中身を確認する</p>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer'%>

