<div class='footer bg-dark'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'style="color:white;">Mackyについて</h2>
      <ul style="list-style: none;">
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" ,style:"color:white; text-decoration: none; " %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link",style:"color:white; text-decoration: none; " %></li>
        <li><%= link_to 'Macky利用規約', "#", class: "footer-link",style:"color:white; text-decoration: none; "%></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link",style:"color:white; text-decoration: none; " %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'style="color:white;">Mackyを見る</h2>
      <ul style="list-style: none;">
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link",style:"color:white; text-decoration: none; " %></li>
        <li><%= link_to 'ブランド一覧', "#", class: "footer-link" ,style:"color:white; text-decoration: none; "%></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'style="color:white;">Mackyについて</h2>
      <ul style="list-style: none;">
        <li><%= link_to 'Mackyガイド', "#", class: "footer-link" ,style:"color:white; text-decoration: none; "%></li>
        <li><%= link_to 'Macky利用ガイドライン', "#", class: "footer-link",style:"color:white; text-decoration: none; " %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link",style:"color:white; text-decoration: none; " %></li>
      </ul>
    </div>
  </div>
  
  <p>© MACKY</p>
</div>