<div class ="container-fruid ">
  <div class ="header row">
        <div class="header-left col-6">  
          <h1 class="title">Macky</h1>
        </div>
        <div class="header-right col-6">
       <% if user_signed_in? %>
      <%= link_to "",method: :get, class: "no-underline" do %>
      <span class="user-nickname"><%= current_user.nickname %></span>
      <% end %>
      <%=  link_to  destroy_user_session_path, method: :delete, class: "no-underline" do  %>
        <span class="logout">ログアウト</span>
      <% end %>
    <% else %>  
      <%= link_to new_user_session_path, class:"no-underline" do %>
      <span class="login">ログイン</span>
      <% end %>
      <%= link_to  new_user_registration_path, class:"no-underline" do %>
      <span class="signup">新規登録</span>
    <% end %>
    <% end %>
        </div>
    </div>
</div>
