      <ul class="item-lists my-4">
       <% @products.each do |product| %>
       <%# 最初の画像だけを表示 %>
        <%  product.images.first(1).each do |image| %>
            <li class='list'>
              <%= link_to product_path(product.id) do %>
                <div class='item-img-content'>
                <%= image_tag image.variant(resize:'150x150') %>
                  <% end%>
                   <% end %>
                </div>
                <div class='item-info'>
                  <h3 class='item-name mxy-3'>
                    <%= product.name %>
                  </h3>
                  <div class='item-price'>
                    <span><%= product.price.to_s(:delimited) %>円<br>(税込み)</span>
                    <%= link_to product_path(product.id) do %>
                   <div><button type="button" class="btn btn-secondary item-detail ">商品詳細</button></div>
                    <% end %>
                  </div>
                </div>
            </li>

            <% end%>

        </ul>

