
<div class="search-form" >

<h1>
  商品検索
</h1>
<%= search_form_for @search, url: products_search_path do |f| %>
  <%= f.label :name_eq, '商品名' %>
  <%= f.collection_select :name_eq, @products, :name, :name,  {include_blank: '指定なし'},{class:"product-name-select"} %>
  <br>
   <%= f.label :brand_eq, 'ブランド' %>
    <%= f.collection_select :brand_eq, @product_brand, :brand, :brand, {include_blank: '指定なし'}, {class:"product-brand-select"}%>
    <br>
    <%= f.label :price, '価格：' %>
  <%= f.radio_button :price_lteq, '' %>
  指定なし
  <br>
  <%= f.radio_button :price_lteq, '30000' %>
  30000円以下
  <br>
  <%= f.radio_button :price_lteq, '50000' %>
  50000円以下
  <br>
  <%= f.radio_button :price_lteq, '100000' %>
  100000円以下
  <br>
  <%= f.radio_button :price_lteq, '150000' %>
  150000円以下
  <br>

  <%= f.label :tags_tag_name_eq, 'タグ一覧' %>
  <%= f.collection_select :tags_tag_name_eq, @tag_name, :tag_name, :tag_name,  {include_blank: '指定なし'}, {class:"tag-name-select"} %>
  <%= f.submit '検索' %>
<% end %>


</div>