<%= render 'shared/header' %>

<div>
  <div class="product-detail" style="margin-top:100px;">
    <div class="product-image" style="border:solid 1px black;">
      <div class="container">
       <div class="row" id="slide" style="display:flex"> 
        <% @product.images.each do |image| %>
        <div class="c"><%= image_tag image.variant(resize:'150x150') %></div>
        <% end %>
        </div>
      </div>
    </div>
    <div style="border:solid 1px black"><%= @product.price %>円</div>
    <div style="border:solid 1px black"><p>説明文</p><%= @product.description %></div>
    <div>撮影サンプル</div>

    <div><a href="#">関連商品</a></div>
  </div>
</div>
<div><a href ="#">カートにいれる</a></div>
<%= render 'shared/footer' %>