
<%# 広告 %>
<div class="container">
  <div class="row advertisement">
    <div class="col-12">
      <img class="ad-image" src="https://images.unsplash.com/photo-1536632087471-3cf3f2986328?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1ODB9">
      <img class="ad-image" src="https://images.unsplash.com/photo-1502920917128-1aa500764cbd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1ODB9">
      <span>製品・ソリューション</span>
      <img class="ad-image" src="https://images.unsplash.com/photo-1516962126636-27ad087061cc?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1ODB9">
      <img class="ad-image" src="https://images.unsplash.com/photo-1536627217140-899b0bc9d881?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1ODB9">
    </div>
  </div>
</div>
<%# ここまで %>

<%# 商品の詳細 %>

<div class="container-fruid">
<div class="row show-wrap">
  <div class="product-detail col-7" style="margin-top:50px;" >
    <div class="product-image">
       <div id="slide" style="display:flex"> 
        <% @product.images.each do |image| %>
        <div class="product-image-size" ><%= image_tag image.variant(resize:'250x250') %></div>
        <% end %>
        </div>
      </div>
    <div class="detail">
    <div class="name"><h2><%= @product.brand %>/&nbsp;&nbsp;<%= @product.name %>/&nbsp;&nbsp;<%= @tag.tag_name %></h2></div>
    <div class="description"><h3>説明文</h3><%= @product.description %></div>  

  </div>
  </div>
  
  <%# ここまで %>
  <%# カートの記述 %>
    <div class="cart col-3">
      <h3 class="price cart-content">価格<%= @product.price.to_s(:delimited) %>円</h3>
      <%= form_with(url: add_product_path, local: true) do |f|%>
        <p class="cart-content"> <%= f.label :quantity, '個数:' %><%= f.number_field :quantity, { class: 'quantity-field'} %>
        <%= hidden_field_tag(:product_id, @product.id) %>   
        <%= f.submit value: "カートにいれる"%>
      <% end %>
      <%= link_to carts_path do%>
        <button><%= fa_icon("cart-plus") %>カートの中身を確認する</button>
      <% end %>
    <p> <%= link_to '購入する', product_orders_path(@product.id), class:"buy cart-content"  %></p>
    
    <%# ここまで %>
  </div>

<%= render 'shared/footer' %>
</div>




