<%= render 'shared/header' %>

<div>
  <div class="product-detail" style="margin-top:100px;">
    <div class="product-image" style="border:solid 1px black;">
      <%= image_tag @product.image.variant(resize:'300x300') %>
    </div>
    <div style="border:solid 1px black"><%= @product.price %>円</div>
    <div style="border:solid 1px black"><p>説明文</p><%= @product.description %></div>
    <div>撮影サンプル</div>
    <div class="container">
    <div class="row" id="slide" style="display:flex">   
      <div><img class ="c"src="https://images.pexels.com/photos/4355493/pexels-photo-4355493.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></div>
      <div><img class ="c" src="https://images.pexels.com/photos/4355398/pexels-photo-4355398.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></div>
      <div><img class ="c" src="https://images.pexels.com/photos/4342429/pexels-photo-4342429.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></div>
      <div><img class ="c" src="https://images.pexels.com/photos/4334414/pexels-photo-4334414.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></div>
    </div>
<div>
<table style="width:930px; boder:solid black 1px; cellspacing:0;" class="tblShopview01 spacTbl mTop10" summary="D5 XQD-Type ボディのスペック">
<col width="20%"><col width="30%"><col width="20%"><col width="30%">
<tr>
<th colspan="4" class="title02"><h4 class="typeTh">スペック</h4></th>
</tr>
<tr>
<th colspan="4" class="spacTtl">基本仕様</th>
</tr>
<tr class="spacTtlSub">
<th>タイプ&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec116')" class="helpBT explainIcn"></th>
<td>一眼レフ</td>
<th>レンズマウント</th>
<td>ニコンFマウント</td>
</tr>
<tr class="spacTtlSub">
<th>画素数</th>
<td>2133万画素(総画素)<br>2082万画素(有効画素)</td>
<th>撮像素子&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec504')" class="helpBT explainIcn"></th>
<td>フルサイズ<br>35.9mm&#215;23.9mm<br>CMOS</td>
</tr>
<tr class="spacTtlSub">
<th>撮影感度</th>
<td>標準：ISO100～102400<br>拡張：ISO50相当、3280000相当</td>
<th>記録フォーマット</th>
<td>JPEG/RAW/TIFF</td>
</tr>
<tr class="spacTtlSub">
<th>連写撮影</th>
<td>高速連続撮影：約14コマ/秒(ミラーアップ)</td>
<th>シャッタースピード</th>
<td>1/8000～30秒</td>
</tr>
<tr class="spacTtlSub">
<th>液晶モニター</th>
<td>3.2インチ<br>236万ドット</td>
<th>ファインダー形式&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec505')" class="helpBT explainIcn"></th>
<td>ペンタプリズム</td>
</tr>
<tr class="spacTtlSub">
<th>ローパスフィルターレス&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec023')" class="helpBT explainIcn"></th>
<td>&nbsp;</td>
<th>ファインダー倍率&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec308')" class="helpBT explainIcn"></th>
<td>0.72 倍</td>
</tr>
<tr class="spacTtlSub">
<th>ファインダー視野率（上下/左右）</th>
<td>100/100</td>
<th>電池タイプ</th>
<td>専用電池</td>
</tr>
<tr class="spacTtlSub">
<th>専用電池型番</th>
<td>EN-EL18a</td>
<th>撮影枚数</th>
<td>ファインダー使用時：3780枚</td>
</tr>
<tr class="spacTtlSub">
<th>記録メディア</th>
<td>XQDカード</td>
<th>スロット</th>
<td>ダブルスロット<br>XQDカード&#215;2</td>
</tr>
<tr>
<th colspan="4" class="spacTtl">その他機能</th>
</tr>
<tr class="spacTtlSub">
<th>防塵・防滴&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec007')" class="helpBT explainIcn"></th>
<td>○</td>
<th>手ブレ補正機構&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec004')" class="helpBT explainIcn"></th>
<td>&nbsp;</td>
</tr>
<tr class="spacTtlSub">
<th>5軸手ブレ補正</th>
<td>&nbsp;</td>
<th>自分撮り機能&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec031')" class="helpBT explainIcn"></th>
<td>&nbsp;</td>
</tr>
<tr class="spacTtlSub">
<th>タッチパネル</th>
<td>○</td>
<th>ゴミ取り機構&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec005')" class="helpBT explainIcn"></th>
<td>○</td>
</tr>
<tr class="spacTtlSub">
<th>内蔵フラッシュ&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec003')" class="helpBT explainIcn"></th>
<td>&nbsp;</td>
<th>タイムラプス&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec032')" class="helpBT explainIcn"></th>
<td>○</td>
</tr>
<tr class="spacTtlSub">
<th>ライブビュー&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec008')" class="helpBT explainIcn"></th>
<td>○</td>
<th>可動式モニタ</th>
<td>&nbsp;</td>
</tr>
<tr class="spacTtlSub">
<th>GPS&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec025')" class="helpBT explainIcn"></th>
<td>&nbsp;</td>
<th>USB充電</th>
<td>&nbsp;</td>
</tr>
<tr class="spacTtlSub">
<th>RAW+JPEG同時記録&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec002')" class="helpBT explainIcn"></th>
<td>○</td>
<th>バルブ&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec001')" class="helpBT explainIcn"></th>
<td>○</td>
</tr>
<tr class="spacTtlSub">
<th>RAW</th>
<td>12bit/14bit</td>
<th>タイム</th>
<td>○</td>
</tr>
<tr class="spacTtlSub">
<th>PictBridge対応&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec006')" class="helpBT explainIcn"></th>
<td>○</td>
<th>セルフタイマー</th>
<td>20/10/5/2秒</td>
</tr>
<tr class="spacTtlSub">
<th>インターフェース</th>
<td>microUSB3.0、miniHDMI</td>
<th>起動時間</th>
<td>&nbsp;</td>
</tr>
<tr class="spacTtlSub">
<th>AFセンサー測距点</th>
<td>フォーカスポイント153点（選択可能55点）、クロスタイプセンサー99点（選択可能35点）、F8対応15点（選択可能9点）</td>
<th>&nbsp;</th><td>&nbsp;</td></tr>
<tr>
<th colspan="4" class="spacTtl">動画撮影</th>
</tr>
<tr class="spacTtlSub">
<th>4K対応&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec030')" class="helpBT explainIcn"></th>
<td>○</td>
<th>動画記録画素数</th>
<td>4K(3840x2160)<br>29.97fps</td>
</tr>
<tr class="spacTtlSub">
<th>ファイル形式</th>
<td>MOV</td>
<th>映像圧縮方式</th>
<td>H.264/MPEG-4 AVC</td>
</tr>
<tr class="spacTtlSub">
<th>音声記録方式</th>
<td>リニアPCM</td>
<th>&nbsp;</th><td>&nbsp;</td></tr>
<tr>
<th colspan="4" class="spacTtl">ネットワーク</th>
</tr>
<tr class="spacTtlSub">
<th>Wi-Fi&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec022')" class="helpBT explainIcn"></th>
<td>&nbsp;</td>
<th>Bluetooth</th>
<td>&nbsp;</td>
</tr>
<tr class="spacTtlSub">
<th>BLE(Bluetooth Low Energy)</th>
<td>&nbsp;</td>
<th>Wi-Fi Direct対応&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec024')" class="helpBT explainIcn"></th>
<td>&nbsp;</td>
</tr>
<tr class="spacTtlSub">
<th>NFC&nbsp;<img src="https://img1.kakaku.k-img.com/images/balloonhelp/explain_icn.gif" alt="" width="30" height="15" onClick="showHelp(this, 'Balloon-Spec021')" class="helpBT explainIcn"></th>
<td>&nbsp;</td>
<th>&nbsp;</th><td>&nbsp;</td></tr>
<tr>
<th colspan="4" class="spacTtl">サイズ・重量</th>
</tr>
<tr class="spacTtlSub">
<th>幅x高さx奥行き</th>
<td>160x158.5x92 mm</td>
<th>重量</th>
<td>1,235 g</td>
</tr>
<tr>
<th colspan="4" class="spacTtl">付属</th>
</tr>
<tr class="spacTtlSub">
<th>付属レンズ</th>
<td>無(本体のみ)</td>
<th>&nbsp;</th><td>&nbsp;</td></tr>
<tr>
<th colspan="4" class="spacTtl">カラー</th>
</tr>
<tr class="spacTtlSub">
<th>カラー</th>
<td>ブラック系</td>
<th>&nbsp;</th><td>&nbsp;</td></tr>
</table>
</div>
    <div><a href="#">関連商品</a></div>
  </div>
</div>
<div><a href ="#">カートにいれる</a></div>
<%= render 'shared/footer' %>